.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.check-list {
  .check-img {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;

    &__left {
      flex-flow: row-reverse;
    }
    &__top {
      flex-flow: column-reverse;
    }
    &__bottom {
      flex-flow: column;
    }
  }
  .check-box input {
    // display: none;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .check-box input + .check-img::before {
    // background-image: url("/check.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    position: relative;
    height: 20px;
    width: 20px;
  }

  .check-box input:checked + .check-img::before {
    background-image: url("/check.svg");
  }

  .check-box input:focus + .check-img::before {
    box-shadow: 0 0 0 2px rgba(#3e82ff, 0.3);
  }
}
